:root {
    --black: #000;
    --dark-blue: #2b3945;
    --very-dark-blue: #202c37;
    --very-dark-blue-ligth: #111517;
    --dark-gray: #858585;
    --white: #fafafa;   
    --blue: #5383E8;
    --ligth-red: #FF7A7A;
    --green: #129912;
}

.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--very-dark-blue);
    max-width: 100%;
}

/* style login */

.container--form {
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 100px;
    border: 1px solid var(--black);
    padding: 5%;
    border-radius: 10px;
}

.login--title {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}
.no--show {
    display: none;
}
.show--msj-error {
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: var(--ligth-red);
    border-radius: 6px;
    padding: 10px;
}
.btn {
    margin-top: 20px;
}

/* styles Header */
.container--nav {
    display: flex;
    height: 70px;
}

.nav--ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
}

.ul--li {
    flex-grow: 1;
    display: block;
}

.ul--li-icon {
    flex-grow: 1;
    display: block;
    height: 100%;
}

.ul--li-search {
    flex-grow: 2;
    display: block;
}

.nav--logo {
    display: block;
    width: 60px;
    height: 60px;
    padding-left: 10px;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
}

.input--search {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: 0;
}

.icon--search {
    position: absolute;
    top: 27px;
    right: 25%;
    color: var(--dark-blue);
}

.icon--logout {
    display: block;
    font-size: 24px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    color: var(--white);
    cursor: pointer;
}
/* Styles Home */
.main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--very-dark-blue);
    padding-top: 50px;
    padding-bottom: 50px;
}

.container--all-cards-graphic {
    margin-top: 0;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.container--card--graphic {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .container--card--graphic {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
.main--title {
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    color: var(--white);
}
.container--cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 590px) and (max-width: 768px) {
    .container--cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px) {
    .container--cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
.container--character-heroesId, .container--character-villainId {
    position: relative;
    display: flex;
    width: 80%;
    margin: 5% 10%;
    justify-items: center;
}


.character--title {
    position: absolute;
    text-align: center;
    z-index: 100;
    background-color: var(--dark-gray);
    width: 100%;
    top: 0px;
    opacity: .8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.character--img {
    width: 100%;
    object-fit: contain;
}

.container--character-button {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: nowrap;
}

.character--button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid var(--black);
    transition: transform .4s;
}
@media screen and (min-width: 768px) {
    .character--button:hover {
        transform: scale(1.1);
        color: var(--blue);
    }
}
.character--link {
    text-decoration: none;
    color: var(--black);
    transition: color .4s;
}

.container--grafic-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.title-stats {
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--white);
}
.container--team-stats {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .container--team-stats {
        flex-direction: row;
    }
}
.team--stats-text {
    display: block;
    text-align: left;
    margin-left: 50px;
    font-size: 18px;
    margin-bottom: 0;
    color: var(--dark-gray);
}
@media screen and (min-width: 768px) {
    .team--stats-text {
        margin-top: 150px;
    }
}
.team--stats-text span {
    color: var(--white);
}
.container--total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    border-radius: 10px;
    border: 1px solid var(--black);
    background-color: var(--dark-blue);
}

/* styles search */
.container--search {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--very-dark-blue);
    display: block;
}
.show--msj {
    display: block;
    position: absolute;
    width: 100%;
}
.not--show-msj {
    display: none;
}
.add-character, .not--add-character {
    display: block;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    position: absolute;
    padding: 20px;
    color: var(--white);
    border-radius: 6px;
    z-index: 500;
}
.add-character {
    background-color: var(--green);
}
.not--add-character {
    background-color: var(--ligth-red);
}
@media screen and (min-width: 768px) {
    .container--search {
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
    }
}

/* styles info */
.container--info {
    background-color: var(--very-dark-blue);
    padding-top: 50px;
    padding-bottom: 100px;
}

.container--card-info {
    margin-top: 0px;
    border: 1px solid var(--black);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.card--info-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white);
}

.container--img-description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .container--img-description {
        flex-direction: row;
    }
}
.card--info-img {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
@media screen and (min-width: 768px) {
    .card--info-img {
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
.container--description {
    width: 100%;
    background-color: var(--dark-blue);
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media screen and (min-width: 768px) {
    .container--description {
        width: 50%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
}
.card-description {
   padding-left: 50px;
   line-height: 1.5rem;
   font-size: 18px;
   color: var(--dark-gray);
}
.content-description {
    font-size: 18px;
    color: var(--white);
}
