:root {
    --black: #000;
    --dark-blue: #2b3945;
    --very-dark-blue: #202c37;
    --very-dark-blue-ligth: #111517;
    --dark-gray: #858585;
    --white: #fafafa;
    --blue: #5383E8;
    --ligth-red: #FF7A7A;
    --green: #129912;
}

.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--very-dark-blue);
    max-width: 100%;
}

/* style login */

.container--form {
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 100px;
    border: 1px solid var(--black);
    padding: 5%;
    border-radius: 10px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.login--title {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.no--show {
    display: none;
}

.show--msj-error {
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: var(--ligth-red);
    border-radius: 6px;
    padding: 10px;
}

.btn {
    margin-top: 20px;
}

/* styles Header */

.container--nav {
    display: flex;
    height: 70px;
}

.nav--ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    position: fixed;
    z-index: 1000;
}

.ul--li {
    flex-grow: 1;
    display: block;
}

.ul--li-icon {
    flex-grow: 1;
    display: block;
    height: 100%;
}

.ul--li-search {
    flex-grow: 2;
    display: block;
}

.nav--logo {
    display: block;
    width: 60px;
    height: 60px;
    padding-left: 10px;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
}

.input--search {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: 0;
}

.icon--search {
    position: absolute;
    top: 27px;
    right: 25%;
    color: var(--dark-blue);
}

.icon--logout {
    display: block;
    font-size: 24px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    color: var(--white);
    cursor: pointer;
}

/* Styles Home */

.container--team {
    margin: 100px 5% 100px 5%;
    border: 2px solid black;
    border-radius: 6px;
    background-color: var(--dark-blue);
}

.container--team-title {
    grid-column: 1/4;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: var(--white);
}

.container--team-cards {
    display: block;
}

@media screen and (min-width: 768px) {
    .container--team-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.card--home {
    background-color: rgba(32, 44, 55, .5);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.container--stats {
    grid-column: 1/4;
    width: 100%;
}


.stats--title {
    padding-top: 50px;
    grid-column: 1/4;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}
.container--stats-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .container--stats-team {
        flex-direction: row;
        padding-left: 15%;
        padding-right: 15%;
    }
}
.stats--title, .stats--description span {
    color: var(--white);
}

.stats--description {
    text-align: left;
    line-height: 28px;
    font-size: 18px;
    padding-right: 5%;
    padding-left: 5%;
    color: var(--dark-gray);
}

/* style home and heroes.js */

.character--title {
    position: absolute;
    text-align: center;
    z-index: 100;
    background-color: var(--dark-gray);
    width: 100%;
    top: 0px;
    opacity: .8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.character--img {
    width: 100%;
    height: 450px;
    border-radius: 6px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .character--img {
        object-fit: cover;
    }
}

.container--character-button {
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 15000;
    flex-wrap: nowrap;
}
.character--button, .character--link {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid var(--black);
    transition: transform .4s;
    height: 70px;
} 
.character--link {
    text-decoration: none;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
}

/* styles heroes.js */

.container--search {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--very-dark-blue);
    display: block;
}

@media screen and (min-width: 768px) {
    .container--search {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.show--msj {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1500;
}

.not--show-msj {
    display: none;
}

.add-character, .not--add-character {
    display: block;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    position: absolute;
    padding: 20px;
    color: var(--white);
    border-radius: 6px;
    z-index: 500;
}

.add-character {
    background-color: var(--green);
}

.not--add-character {
    background-color: var(--ligth-red);
}

.container--characters {
    position: relative;
    display: flex;
    width: 80%;
    margin: 5% 10%;
}

.container--card {
    width: 100%;
    background-color: var(--dark-blue);
    border-radius: 6px;
    min-height: 450px;
    transition: transform 1s;
}

@media screen and (min-width: 768px) {
    .container--card:hover {
        transform: scale(1.1);
    }
}

.container--only-pie {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pie--only-character {
    width: 100%;
}

.no-show {
    opacity: 0;
}

.show {
    opacity: 1;
}
.main--title {
    color: var(--white);
    text-align: center;
    grid-column: 1/4;
}
/* styles info */

.container--info {
    background-color: var(--very-dark-blue);
    padding-top: 50px;
    padding-bottom: 100px;
}

.container--card-info {
    margin-top: 0px;
    border: 1px solid var(--black);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.card--info-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white);
}

.container--img-description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .container--img-description {
        flex-direction: row;
    }
}

.card--info-img {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media screen and (min-width: 768px) {
    .card--info-img {
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
}

.container--description {
    width: 100%;
    background-color: var(--dark-blue);
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (min-width: 768px) {
    .container--description {
        width: 50%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
}

.card-description {
    padding-left: 50px;
    line-height: 1.5rem;
    font-size: 18px;
    color: var(--dark-gray);
}

.content-description {
    font-size: 18px;
    color: var(--white);
}